# Лабораторная работа №2. Первичный анализ данных с Pandas

In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import warnings

%matplotlib inline
warnings.simplefilter('ignore') # отключаем предупреждения Anaconda

**В задании предлагается с помощью Pandas ответить на несколько вопросов по данным репозитория UCI [Adult](https://archive.ics.uci.edu/ml/datasets/Adult) (качать данные не надо – они уже лежат в локальной папке). Решение должно быть оформлено в виде файла отчета.**

Уникальные значения признаков (больше информации по ссылке выше):
- age: continuous.
- workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
- fnlwgt: continuous.
- education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
- education-num: continuous.
- marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
- occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
- relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
- race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
- sex: Female, Male.
- capital-gain: continuous.
- capital-loss: continuous.
- hours-per-week: continuous.
- native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.   
- salary: >50K,<=50K

In [2]:
data = pd.read_csv('./data/adult.data.csv')
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
data.describe()

,age,fnlwgt,education-num,capital-gain,capital-loss,hours-per-week
count,32561.000000,3.256100e+04,32561.000000,32561.000000,32561.000000,32561.000000
mean,38.581647,1.897784e+05,10.080679,1077.648844,87.303830,40.437456
std,13.640433,1.055500e+05,2.572720,7385.292085,402.960219,12.347429
min,17.000000,1.228500e+04,1.000000,0.000000,0.000000,1.000000
25%,28.000000,1.178270e+05,9.000000,0.000000,0.000000,40.000000
50%,37.000000,1.783560e+05,10.000000,0.000000,0.000000,40.000000
75%,48.000000,2.370510e+05,12.000000,0.000000,0.000000,45.000000
max,90.000000,1.484705e+06,16.000000,99999.000000,4356.000000,99.000000

**1. Сколько представителей различных рас (признак *race*) представлено в этом наборе данных?**

In [4]:
# Ваш код здесь
data["race"].value_counts()

race
White                 27816
Black                  3124
Asian-Pac-Islander     1039
Amer-Indian-Eskimo      311
Other                   271
Name: count, dtype: int64

**2. Каков средний возраст чернокожих женщин?**

In [5]:
# Ваш код здесь
data[data["race"] == "Black"]["age"].mean()

np.float64(37.7679257362356)

**3. Какова доля граждан Японии (признак *native-country*)?**

In [18]:
# Ваш код здесь
f"{(data[data["native-country"] == "Japan"]["age"].count()/data["age"].count()*100).round(2)}%"

'0.19%'

**4. Каковы средние значения и среднеквадратичные отклонения возраста тех мужчин, которые получают более 50K в год (признак *salary*) и тех, которые получают менее 50K в год?**

In [69]:
# Ваш код здесь
more50 = data[(data["salary"] == ">50K") & (data["sex"] == "Male")]
print(">50:")
print(f"mean: {more50["age"].mean()}")
print(f"std: {more50["age"].std()}\n")

less50 = data[(data["salary"] == "<=50K") & (data["sex"] == "Male")]
print("<=50:")
print(f"mean: {less50["age"].mean()}")
print(f"std: {less50["age"].std()}")

>50:
mean: 44.62578805163614
std: 10.485469314658532

>50:
mean: 37.147012162876784
std: 13.856113156844579

**5. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак *education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters* или *Doctorate*)**

In [82]:
# Ваш код здесь
# Bachelors:13, Prof-school:15, Assoc-acdm:12, Assoc-voc:11, Masters:14, Doctorate:16
educated = (data[data["salary"] == ">50K"]["education-num"] >= 11)
educated.value_counts()[False] == 0

np.False_

**6. Выведите статистику возраста каждого пола для каждой страны (признак *naive-country*). Используйте *groupby* и *describe*. Найдите таким образом максимальный возраст мужчин из Японии.**

In [33]:
# Ваш код здесь
print(data.groupby(["native-country", "sex"])["age"].describe())
print("Japan max male age: ", data[(data["native-country"] == "Japan") & (data["sex"] == "Male")]["age"].max())

                         count       mean        std   min    25%   50%  \
native-country sex
?              Female    163.0  37.226994  13.421606  17.0  27.50  35.0
               Male      420.0  39.307143  11.953308  17.0  30.00  38.0
Cambodia       Female      3.0  25.000000   7.000000  18.0  21.50  25.0
               Male       16.0  40.187500  10.087740  27.0  34.75  38.5
Canada         Female     39.0  42.051282  15.123959  20.0  29.50  40.0
...                        ...        ...        ...   ...    ...   ...
United-States  Male    19488.0  39.588003  13.441371  17.0  29.00  38.0
Vietnam        Female     23.0  30.478261  10.933142  20.0  22.50  25.0
               Male       44.0  35.931818  14.414782  19.0  23.75  30.5
Yugoslavia     Female      3.0  40.333333  15.502688  25.0  32.50  40.0
               Male       13.0  38.461538  12.679481  20.0  31.00  36.0

                         75%   max
native-country sex
?              Female  44.50  81.0
               Male    46.00  90.0
Cambodia       Female  28.50  32.0
               Male    46.50  65.0
Canada         Female  52.50  73.0
...                      ...   ...
United-States  Male    49.00  90.0
Vietnam        Female  41.50  52.0
               Male    44.25  73.0
Yugoslavia     Female  48.00  56.0
               Male    43.00  66.0

[83 rows x 8 columns]
Japan max male age:  54

**7. Правда ли, что доля зарабатывающих много (>50K) больше среди женатых чем среди холостых мужчин (признак *marital-status*)? Женатыми считаем тех, у кого *marital-status* начинается с *Married* (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [83]:
# Ваш код здесь
# data["marital-status"].value_counts()
more50 = data[(data["salary"] == ">50K") & (data["sex"] == "Male")]

married = more50[more50["marital-status"].str.contains("Married")]["age"].count()
married > more50["age"].count() - married

np.True_

**8. Какое максимальное число часов мужчины и женщины работают в неделю (признак *hours-per-week*)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

In [68]:
# Ваш код здесь
m = data[data["sex"] == "Male"]
mm = m[m["hours-per-week"] == m["hours-per-week"].max()]
print("Male max:", m["hours-per-week"].max(), "hours")
print("Male max count:", mm["age"].count())
print("Male max <=50K:", mm[mm["salary"] == "<=50K"]["age"].count()/mm["age"].count()*100, "%")
print()

f = data[data["sex"] == "Female"]
fm = f[f["hours-per-week"] == f["hours-per-week"].max()]
print("Female max:", f["hours-per-week"].max(), "hours")
print("Female max count:", fm["age"].count())
print("Female max <=50K:", fm[fm["salary"] == "<=50K"]["age"].count()/fm["age"].count()*100, "%")
print()

print("Total max count:", fm["age"].count() + mm["age"].count())
print("Total max <=50K:",((mm[mm["salary"] == "<=50K"]["age"].count() + fm[fm["salary"] == "<=50K"]["age"].count())/(mm["age"].count() + fm["age"].count()))*100)

Male max: 99 hours
Male max count: 66
Male max <=50K: 63.63636363636363 %

Female max: 99 hours
Female max count: 19
Female max <=50K: 94.73684210526315 %

Total max count: 85
Total max <=50K: 70.58823529411765

**9. Посчитайте среднее время работы (*hours-per-week*) зарабатывающих мало и много (*salary*) для каждой расы.**

In [12]:
# Ваш код здесь
for race in data["race"].unique():
    print(f"{race}:")
    print("mean time for <=50K: ", data[(data["race"] == race) & (data["salary"] == "<=50K")]["hours-per-week"].mean().round(2))
    print("mean time >50K: ", data[(data["race"] == race) & (data["salary"] == ">50K")]["hours-per-week"].mean().round(2))
    print()

White:
mean time for <=50K:  39.01
mean time >50K:  45.56

Black:
mean time for <=50K:  37.58
mean time >50K:  44.38

Asian-Pac-Islander:
mean time for <=50K:  38.43
mean time >50K:  44.83

Amer-Indian-Eskimo:
mean time for <=50K:  39.41
mean time >50K:  44.92

Other:
mean time for <=50K:  38.91
mean time >50K:  44.92

Использованы материалы **"Открытого курса по машинному обучению"**. Авторы: программист-исследователь Mail.ru Group, старший преподаватель Факультета Компьютерных Наук ВШЭ Юрий Кашницкий и Data Scientist в Segmento Екатерина Демидова. Материал распространяется на условиях лицензии [Creative Commons CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/). Можно использовать в любых целях (редактировать, поправлять и брать за основу), кроме коммерческих, но с обязательным упоминанием автора материала.